# Script output
binaries
output
server

# Mac OS X sucks
.DS_Store

# Build output
release
Debug
Release
*.pch
*.idb
*.pdb
*.ncb
obj
symbols
lib
DLL-Debug
DLL-Release
Win32_LIB_Debug
Win32_LIB_Release

# OpenVice base images
openvice-base-*.zip
openvice-*.7z

# Compiled dlls
xmll.dll
libcurl.dll
pcre3.dll
sqlite3.dll